Repository GSA/sam-design-system, pull requests merged in 2020-05, with the labels that each got.

#244 Side nav on sis filter refresh
  libs/documentation/src/lib/components/sidenavigation/demos/optional/navigate.config.ts
  libs/documentation/src/lib/components/sidenavigation/demos/optional/sidenavigation-optional.component.html
  libs/documentation/src/lib/components/sidenavigation/demos/optional/sidenavigation-optional.component.ts
  libs/documentation/src/lib/components/sidenavigation/demos/optional/sidenavigation-optional.module.ts
  libs/documentation/src/lib/components/sidenavigation/sidenavigation.module.ts
Labels: feat

#242 Autocomplete tags
  libs/packages/components/src/lib/autocomplete-search/autocomplete-search.component.html
  libs/packages/components/src/lib/autocomplete-search/autocomplete-search.component.spec.ts
  libs/packages/components/src/lib/autocomplete-search/autocomplete-search.component.ts
  libs/packages/components/src/lib/autocomplete-search/models/SDSAutocompleteConfiguration.ts
  libs/packages/components/src/lib/autocomplete/models/SDSAutocompletelConfiguration.model.ts
  package.json
Labels: enhancement

#225 Create Advanced Filters Dialog component and sample [iae-32619]
  libs/component-sample/src/lib/feature/side-menu-filters-sample/side-menu-filters-advanced-sample/side-menu-filters-advanced-sample.component.html
  libs/component-sample/src/lib/feature/side-menu-filters-sample/side-menu-filters-advanced-sample/side-menu-filters-advanced-sample.component.ts
  libs/component-sample/src/lib/feature/side-menu-filters-sample/side-menu-filters-model/side-menu-filters-model.component.html
  libs/component-sample/src/lib/feature/side-menu-filters-sample/side-menu-filters-model/side-menu-filters-model.component.spec.ts
  libs/component-sample/src/lib/feature/side-menu-filters-sample/side-menu-filters-model/side-menu-filters-model.component.ts
  libs/component-sample/src/lib/feature/side-menu-filters-sample/side-menu-filters-sample.component.html
  libs/component-sample/src/lib/feature/side-menu-filters-sample/side-menu-filters-sample.component.ts
  libs/component-sample/src/lib/feature/side-menu-filters-sample/side-menu-filters-sample.data.ts
  libs/component-sample/src/lib/feature/side-menu-filters-sample/side-menu-filters-sample.module.ts
  libs/component-sample/src/lib/feature/side-menu-filters-sample/side-menu-filters-toolbar-sample/side-menu-filters-toolbar-sample.component.html
  libs/component-sample/src/lib/feature/side-menu-filters-sample/side-menu-filters-toolbar-sample/side-menu-filters-toolbar-sample.component.ts
  libs/packages/sam-formly/src/lib/formly-dialog/formly-dialog-data.model.ts
  libs/packages/sam-formly/src/lib/formly-dialog/formly-dialog.component.html
  libs/packages/sam-formly/src/lib/formly-dialog/formly-dialog.component.ts
  libs/packages/sam-formly/src/lib/formly-dialog/sds-formly-dialog.module.ts
  libs/packages/sam-formly/src/lib/formly-filters/advanced-filters/advanced-filters.component.html
  libs/packages/sam-formly/src/lib/formly-filters/advanced-filters/advanced-filters.component.spec.ts
  libs/packages/sam-formly/src/lib/formly-filters/advanced-filters/advanced-filters.component.ts
  libs/packages/sam-formly/src/lib/formly-filters/advanced-filters/sds-advanced-filters.service.spec.ts
  libs/packages/sam-formly/src/lib/formly-filters/advanced-filters/sds-advanced-filters.service.ts
  libs/packages/sam-formly/src/lib/formly-filters/sds-filters.component.html
  libs/packages/sam-formly/src/lib/formly-filters/sds-filters.component.ts
  libs/packages/sam-formly/src/lib/formly-filters/sds-filters.module.ts
  libs/packages/sam-formly/src/lib/formly/formly.config.ts
  libs/packages/sam-formly/src/lib/formly/formly.module.ts
  libs/packages/sam-formly/src/lib/public-api.ts
  package-lock.json
Labels: feat

#247 History configurable and sds-formly shareable
  libs/packages/sam-formly/src/lib/formly-filters/sds-filters.component.spec.ts
  libs/packages/sam-formly/src/lib/formly-filters/sds-filters.component.ts
  libs/packages/sam-formly/src/lib/formly/formly.module.ts
  libs/packages/sam-formly/src/lib/public-api.ts
  libs/sam-formly-sample/src/lib/feature/filter-wrapper/filter-wrapper.component.html
Labels: enhancement

#252 model updated
  libs/documentation/src/lib/components/formly/search/demos/basic/search-basic.component.ts
  libs/documentation/src/lib/components/search/demos/optional/search-optional.component.html
  libs/packages/components/src/lib/search/search.component.html
  libs/packages/components/src/lib/search/search.component.ts
  libs/packages/components/src/lib/search/search.spec.ts
Labels: bugfix

#209 Modifications for filters
  libs/component-sample/src/lib/feature/side-navigation-sample/side-navigation-sample.component.html
  libs/component-sample/src/lib/feature/side-navigation-sample/side-navigation-sample.component.ts
  libs/documentation/src/lib/apidoc/components/components.ts
  libs/documentation/src/lib/apidoc/components/documentation.json
  libs/documentation/src/lib/apidoc/formly/documentation.json
  libs/documentation/src/lib/apidoc/formly/formly.ts
  libs/documentation/src/lib/apidoc/layouts/documentation.json
  libs/documentation/src/lib/apidoc/layouts/layouts.ts
  libs/documentation/src/lib/components/sidenavigation/demos/basic/sidenavigation-basic.component.html
  libs/documentation/src/lib/components/sidenavigation/demos/basic/sidenavigation-basic.component.ts
  libs/packages/components/src/lib/accordion/accordion-item-header.component.html
  libs/packages/components/src/lib/accordion/accordion-item-header.component.scss
  libs/packages/components/src/lib/toolbar/toolbar-header.component.html
  package-lock.json
Labels: enhancement

#245 Iae 32618/reset all
  libs/packages/sam-formly/src/lib/formly-filters/advanced-filters/advanced-filters.component.html
  libs/packages/sam-formly/src/lib/formly-filters/advanced-filters/advanced-filters.component.scss
  libs/packages/sam-formly/src/lib/formly-filters/advanced-filters/advanced-filters.component.spec.ts
  libs/packages/sam-formly/src/lib/formly-filters/advanced-filters/advanced-filters.component.ts
  libs/packages/sam-formly/src/lib/formly-filters/sds-filters.component.html
  libs/packages/sam-formly/src/lib/formly-filters/sds-filters.component.ts
  libs/packages/sam-formly/src/lib/formly-filters/sds-filters.module.ts
  libs/packages/sam-formly/src/lib/formly-reset/formly-reset.component.html
  libs/packages/sam-formly/src/lib/formly-reset/formly-reset.component.scss
  libs/packages/sam-formly/src/lib/formly-reset/formly-reset.component.spec.ts
  libs/packages/sam-formly/src/lib/formly-reset/formly-reset.component.ts
  libs/packages/sam-formly/src/lib/formly-reset/formly-reset.module.ts
  libs/packages/sam-formly/src/lib/public-api.ts
  libs/sam-formly-sample/src/lib/feature/filter-wrapper/filter-wrapper.component.html
Labels: feat

#261 Removed text area from filters
  libs/documentation/src/lib/components/filters/demos/basic/filters-basic.component.html
  libs/documentation/src/lib/components/filters/demos/basic/filters-basic.component.scss
  libs/documentation/src/lib/components/filters/demos/basic/filters-basic.component.ts
  libs/documentation/src/lib/components/filters/demos/basic/filters-basic.module.ts
Labels: Documentation

#262 Label, Description, Validation Wrappers documentation added
  apps/sam-design-system-site/src/app/app.component.html
  libs/documentation/src/lib/components/descriptionwrapper/demos/basic/descriptionwrapper-basic.component.html
  libs/documentation/src/lib/components/descriptionwrapper/demos/basic/descriptionwrapper-basic.component.ts
  libs/documentation/src/lib/components/descriptionwrapper/demos/basic/descriptionwrapper-basic.module.ts
  libs/documentation/src/lib/components/descriptionwrapper/descriptionwrapper.module.ts
  libs/documentation/src/lib/components/labelwrapper/demos/basic/labelwrapper-basic.component.html
  libs/documentation/src/lib/components/labelwrapper/demos/basic/labelwrapper-basic.component.ts
  libs/documentation/src/lib/components/labelwrapper/demos/basic/labelwrapper-basic.module.ts
  libs/documentation/src/lib/components/labelwrapper/labelwrapper.module.ts
  libs/documentation/src/lib/components/validationwrapper/demos/basic/validationwrapper-basic.component.html
  libs/documentation/src/lib/components/validationwrapper/demos/basic/validationwrapper-basic.component.ts
  libs/documentation/src/lib/components/validationwrapper/demos/basic/validationwrapper-basic.module.ts
  libs/documentation/src/lib/components/validationwrapper/validationwrapper.module.ts
  libs/documentation/src/lib/documentation.module.ts
  libs/packages/sam-formly/src/lib/formly/wrappers/description.wrapper.ts
  libs/packages/sam-formly/src/lib/formly/wrappers/form-field.accordian.ts
  libs/packages/sam-formly/src/lib/formly/wrappers/form-field.filterwrapper.ts
  libs/packages/sam-formly/src/lib/formly/wrappers/form-field.wrapper.ts
  libs/packages/sam-formly/src/lib/formly/wrappers/group.wrapper.ts
  libs/packages/sam-formly/src/lib/formly/wrappers/label.wrapper.ts
  libs/packages/sam-formly/src/lib/formly/wrappers/validation.wrapper.ts
Labels: Documentation

#259 Doc autocomplete
  libs/documentation/src/lib/components/autocomplete/demos/basic/autocomplete-basic.component.html
  libs/documentation/src/lib/components/autocomplete/demos/optional/autocomplete-optional.component.html
  libs/documentation/src/lib/components/autocomplete/demos/optional/autocomplete-optional.component.ts
  libs/documentation/src/lib/components/formly/autocomplete/autocomplete.module.ts
  libs/documentation/src/lib/components/formly/autocomplete/demos/disable/autocomplete-disable.component.html
  libs/documentation/src/lib/components/formly/autocomplete/demos/disable/autocomplete-disable.component.ts
  libs/documentation/src/lib/components/formly/autocomplete/demos/disable/autocomplete-disable.module.ts
  libs/documentation/src/lib/components/formly/autocomplete/demos/freetext/autocomplete-freetext.component.html
  libs/documentation/src/lib/components/formly/autocomplete/demos/freetext/autocomplete-freetext.component.ts
  libs/documentation/src/lib/components/formly/autocomplete/demos/freetext/autocomplete-freetext.module.ts
  libs/documentation/src/lib/components/formly/autocomplete/demos/mincharacter/autocomplete-mincharacter.component.html
  libs/documentation/src/lib/components/formly/autocomplete/demos/mincharacter/autocomplete-mincharacter.component.ts
  libs/documentation/src/lib/components/formly/autocomplete/demos/mincharacter/autocomplete-mincharacter.module.ts
  libs/documentation/src/lib/components/formly/autocomplete/demos/readonly/autocomplete-readonly.component.html
  libs/documentation/src/lib/components/formly/autocomplete/demos/readonly/autocomplete-readonly.component.ts
  libs/documentation/src/lib/components/formly/autocomplete/demos/readonly/autocomplete-readonly.module.ts
  libs/documentation/src/lib/components/formly/autocomplete/demos/tag/autocomplete-tag.component.html
  libs/documentation/src/lib/components/formly/autocomplete/demos/tag/autocomplete-tag.component.ts
  libs/documentation/src/lib/components/formly/autocomplete/demos/tag/autocomplete-tag.module.ts
  libs/documentation/src/lib/components/formly/autocomplete/demos/validation/autocomplete-validation.component.html
  libs/documentation/src/lib/components/formly/autocomplete/demos/validation/autocomplete-validation.component.ts
  libs/documentation/src/lib/components/formly/autocomplete/demos/validation/autocomplete-validation.module.ts
  libs/documentation/src/lib/components/formly/autocomplete/services/autocomplete-sample.data.ts
  libs/documentation/src/lib/components/formly/autocomplete/services/autocomplete-sample.service.ts
  libs/packages/components/src/lib/autocomplete-search/autocomplete-search.component.html
  libs/packages/components/src/lib/autocomplete-search/autocomplete-search.component.scss
  libs/packages/components/src/lib/autocomplete-search/autocomplete-search.component.ts
  libs/packages/components/src/lib/selected-result/selected-result.component.html
  libs/packages/sam-formly/src/lib/formly/formly.module.ts
Labels: Documentation, bugfix

#263 Removed search from Filter demo and History configuration demo changes
  libs/documentation/src/lib/components/filters/demos/basic/filters-basic.component.html
  libs/documentation/src/lib/components/filters/demos/basic/filters-basic.component.ts
  libs/sam-formly-sample/src/lib/feature/filter-wrapper/filter-wrapper.component.html
Labels: Documentation

#258 Expand option changes and document added with different examples.
  libs/documentation/src/lib/apidoc/components/components.ts
  libs/documentation/src/lib/apidoc/components/documentation.json
  libs/documentation/src/lib/apidoc/formly/documentation.json
  libs/documentation/src/lib/apidoc/formly/formly.ts
  libs/documentation/src/lib/apidoc/layouts/documentation.json
  libs/documentation/src/lib/apidoc/layouts/layouts.ts
  libs/documentation/src/lib/components/filters/demos/config/fields.ts
  libs/documentation/src/lib/components/filters/demos/config/filter-config.component.html
  libs/documentation/src/lib/components/filters/demos/config/filter-config.component.ts
  libs/documentation/src/lib/components/filters/demos/config/filter-config.module.ts
  libs/documentation/src/lib/components/filters/filters.module.ts
  libs/packages/sam-formly/src/lib/formly/wrappers/form-field.accordian.ts
  libs/packages/sam-formly/src/lib/formly/wrappers/group.wrapper.ts
  libs/packages/sam-formly/src/lib/formly/wrappers/label.wrapper.ts
Labels: Documentation, bugfix

#270 video player icon file path updates
  apps/sam-design-system-site/src/assets/img/px-video-sprite.svg
  libs/documentation/src/lib/components/video/closing.md
  libs/documentation/src/lib/components/video/video.module.ts
  libs/packages/components/src/lib/video-player/css/px-video.css
Labels: bugfix

#272 Documentation added for custom formly template options.
  apps/sam-design-system-site/src/app/app.component.html
  libs/documentation/src/lib/components/templateoptions/demos/announceLabel/templateoption-announceLabel.component.html
  libs/documentation/src/lib/components/templateoptions/demos/announceLabel/templateoption-announceLabel.component.ts
  libs/documentation/src/lib/components/templateoptions/demos/announceLabel/templateoption-announceLabel.module.ts
  libs/documentation/src/lib/components/templateoptions/demos/basic/templateoptions-basic.component.html
  libs/documentation/src/lib/components/templateoptions/demos/basic/templateoptions-basic.component.ts
  libs/documentation/src/lib/components/templateoptions/demos/basic/templateoptions-basic.module.ts
  libs/documentation/src/lib/components/templateoptions/demos/expand/templateoption-expand.component.html
  libs/documentation/src/lib/components/templateoptions/demos/expand/templateoption-expand.component.ts
  libs/documentation/src/lib/components/templateoptions/demos/expand/templateoption-expand.module.ts
  libs/documentation/src/lib/components/templateoptions/demos/hideOptional/templateoption-hideOptional.component.html
  libs/documentation/src/lib/components/templateoptions/demos/hideOptional/templateoption-hideOptional.component.ts
  libs/documentation/src/lib/components/templateoptions/demos/hideOptional/templateoption-hideOptional.module.ts
  libs/documentation/src/lib/components/templateoptions/demos/tags/templateoption-tags.component.html
  libs/documentation/src/lib/components/templateoptions/demos/tags/templateoption-tags.component.ts
  libs/documentation/src/lib/components/templateoptions/demos/tags/templateoption-tags.module.ts
  libs/documentation/src/lib/components/templateoptions/templateoptions.module.ts
  libs/documentation/src/lib/documentation.module.ts
Labels: Documentation

#274 search console error changes
  libs/packages/components/src/lib/search/search.component.ts
Labels: bugfix

#271 Documentation added for Results layout
  apps/sam-design-system-site/src/app/app.component.html
  libs/documentation/src/lib/documentation.module.ts
  libs/documentation/src/lib/pages/layout/data.service.ts
  libs/documentation/src/lib/pages/layout/filter.service.ts
  libs/documentation/src/lib/pages/layout/layout.component.html
  libs/documentation/src/lib/pages/layout/layout.component.ts
  libs/documentation/src/lib/pages/layout/layout.module.ts
  libs/documentation/src/lib/pages/layout/navigate.config.ts
  libs/documentation/src/lib/pages/layout/result/result.component.html
  libs/documentation/src/lib/pages/layout/result/result.component.ts
  libs/documentation/src/lib/pages/layout/result/result.module.ts
  libs/documentation/src/lib/pages/layout/search-data.ts
Labels: Documentation
